{{define "content"}}
  <div class="ui equal width center aligned padded grid">
    <div class="row"></div>
    <div class="row">
      <div class="column">
        <h2 class="ui header grey">Welcome to SNS QRCode Generator!</h2>
      </div>
    </div>
    <div class="row">
      <div class="column">
        <div class="ui steps">
          <div class="step">
            <i class="info circle icon grey"></i>
            <div class="content">
              <div class="title">Greeting started</div>
              <div class="description">はじめにこのページを読もう</div>
            </div>
          </div>
          <div class="disabled step">
            <i class="cogs icon"></i>
            <div class="content">
              <div class="title">Settings</div>
              <div class="description">SNSの情報を設定しよう</div>
            </div>
          </div>
          <div class="disabled step">
            <i class="qrcode icon"></i>
            <div class="content">
              <div class="title">Create QRCode</div>
              <div class="description">QRコードを発行しよう</div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="column"></div>
      <div class="column">
        <div class="ui blue message">
          <h3 class="ui grey">SNS QRCode Generatorとは？</h3>
          <p>QRCodeで友達になれるアプリです</p>
        </div>
      </div>
      <div class="column"></div>
    </div>
  </div>
{{end}}
